
# CineIQ .gitignore-------->>

# 1. Datasets & Raw Files
# Ignore everything inside data/, EXCEPT the .gitkeep file
data/*
!data/.gitkeep
*.csv
*.tsv
*.dat

# 2. ML Models & Generated Artifacts
# Ignore everything inside artifacts/, EXCEPT the .gitkeep file
artifacts/*
!artifacts/.gitkeep
*.pkl
*.h5
*.pt
*.onnx

# 3. Experiment Tracking Logs
mlruns/
experiment_log/
*.db
*.log

# 4. Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# 5. Python Cache & Virtual Environments
__pycache__/
*.py[cod]
*$py.class
env/
venv/
.venv/
cineiq/

# 6. Environment Variables & Secrets
.env
